<body>
    <div class="container">
        <br><br>

        <!-- <p>Tapez le nom de l'article à rechercher :</p>
        <input type="text" name="articleRecherche">
        <input type="submit" value="Rechercher"> -->


        <form method="post">
            <div class="form-group">
                <label>Tapez le nom de l'article à rechercher :</label>
                <input type="text" class="form-control" name="article" >
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

        <br>

    </div>

    <% if (locals.recherche) { %>
    Vous avez recherché : <%= recherche %>
    <%} %>

</body>