<% include partials/head %>
<% include partials/header %>

<body>
    <div class="container">
        <br><br>
        <form method="post">
            <div class="form-group">
                <label>Tapez le nom de l'article à rechercher :</label>
                <input type="text" class="form-control" name="article" >
            </div>
            <button type="submit" class="btn btn-primary">Rechercher</button>
        </form>

        <br>

        <% if (locals.recherche) { %>
        <label>Vous avez recherché : <%- recherche %></label>
        <%} %>
    </div>



</body>

<% include partials/footer %>