<% include partials/head %>
<%- include('partials/header') %>
<body>
    <div class="container">
        <p>Bravo, vous avez réussi à envoyer le formulaire sans que tous les champs ne soient remplis ! Voici le flag du challenge : totalaccess</p>
    </div>
</body>
<% include partials/footer %>