<% include partials/head %>
<% include partials/header %>

<body>
<br>
    <div class="container">
        <h2>Challenges</h2>
        <br>
        <table class="table table-borderless">
            <thead>
            <tr>
                <th>Nom du challenge</th>
                <th>Validé</th>
                <th>Solution</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><a href="#">Challenge 1</a></td>
                <td>Oui</td>
                <td><a href="#">Voir</a></td>
            </tr>
            <tr>
                <td><a href="#">Challenge 2</a></td>
                <td>Oui</td>
                <td><a href="#">Voir</a></td>
            </tr>
            <tr>
                <td><a href="#">Challenge 3</a></td>
                <td>Non</td>
                <td><a href="#">Voir</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</body>

<% include partials/footer %>