<% include partials/head %>
<% include('partials/header') %>
<body>
    <div class="container">
        <br><br>
        <div class="row justify-content-center">
            <div class="form-group col-sm-6">
                <h4>Challenge : Création de compte</h4>
            </div>
        </div>
        <form method="post">
            <div class="row justify-content-center">
                <div class="form-group col-sm-6">
                    <input type="email" class="form-control" id="emailInput" name="emailInput" aria-describedby="emailHelp" placeholder="Email">
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="form-group col-sm-6">
                    <input type="text" class="form-control" id="identifiantInput" name="identifiantInput" placeholder="Identifiant">
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="form-group col-sm-6">
                    <input type="password" class="form-control" id="passwordInput" name="passwordInput" placeholder="Mot de passe">
                </div>
            </div>

            <!-- Alerte JS -->
            <div class="row justify-content-center" id="champManquant" style="display: none">
                <div class="col-sm-6">
                    <div class="alert alert-danger" role="alert">
                        Veuillez renseigner tous les champs !
                    </div>
                </div>
            </div>

            <!-- Alerte serveur -->
            <% if (typeof erreur != "undefined") {%>
            <div class="row justify-content-center" id="erreurServeur">
                <div class="col-sm-6">
                    <div class="alert alert-success" role="alert">
                        <%= erreur %>
                    </div>
                </div>
            </div>
            <% } %>

            <div class="row justify-content-center">
                <button class="btn btn-custom" id="inscription">S'inscrire</button>
            </div>
            <br>
        </form>
    </div>
<script src="/js/challFormulaireBloque.js"></script>
</body>
<% include partials/footer %>