<% include partials/head %>
<% include('partials/header') %>
<body>
<div class="container">
    <p>Bravo, vous avez réussi à vous mettre en copie du mail de réinitialisation de mot de passe ! Voici le flag du challenge : encode</p>
</div>
</body>
<% include partials/footer %>