<% include partials/head %>
<% include('partials/header') %>
<body>
<br>
    <div class="container">
        <p>Interface de connexion :</p>
        <input type="button" value="Connexion" onclick="connexion();" class="btn btn-custom">
    </div>
    <script src="/js/challOffuscation.js"></script>
</body>
<% include partials/footer %>