<% include partials/head %>
<%- include('partials/header') %>
<body>
<div class="container">
    <br>
    <p>Bravo, vous avez réussi à vous inscrire ! Voici le flag du challenge : inspectorIsCool</p>
</div>
</body>
<% include partials/footer %>