<% include partials/head %>
<% include partials/header %>

<body>
  <br><br>
  <div class="container">
    <div class="row">

      <div class="col-sm-4 mb-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Unité 1</h5>
            <p class="card-text">Description cours unité 1</p>
            <a href="cours/1" class="btn btn-dark">Accéder</a>
          </div>
        </div>
      </div>

      <div class="col-sm-4 mb-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Unité 2</h5>
            <p class="card-text">Description cours unité 2</p>
            <a href="cours/2" class="btn btn-dark">Accéder</a>
          </div>
        </div>
      </div>

      <div class="col-sm-4 mb-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Unité 3</h5>
            <p class="card-text">Description cours unité 3</p>
            <a href="cours/3" class="btn btn-dark">Accéder</a>
          </div>
        </div>
      </div>

      <div class="col-sm-4 mb-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Unité 4</h5>
            <p class="card-text">Description cours unité 4</p>
            <a href="cours/4" class="btn btn-dark">Accéder</a>
          </div>
        </div>
      </div>

    </div>
  </div>
</body>

<% include partials/footer %>
