<% include partials/head %>
<% include partials/header %>

<body>
    <div class="container">
        <br>
        <h4>Intitulé question 1 ?</h4>
        <p>Réponse à la question 1</p>
        <br>
        <h4>Intitulé question 2 ?</h4>
        <p>Réponse à la question 2</p>
        <br>
        <h4>Intitulé question 3 ?</h4>
        <p>Réponse à la question 3</p>
        <br>
        <h4>Intitulé question 4 ?</h4>
        <p>Réponse à la question 4</p>
    </div>
</body>

<% include partials/footer %>