<% include partials/head %>
<% include partials/header %>

<body>
  <br><br>
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <!-- Card Cours -->
        <div class="card" style="width: 20rem;">
          <img class="card-img-top" src="images/cours.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Cours</h5>
            <p class="card-text">Cette section contient tous les cours nécessaires pour sensibiliser à la sécurité web !</p>
            <a href="unites" class="btn btn-dark">Accéder aux cours</a>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <!-- Card Challenge -->
        <div class="card" style="width: 20rem;">
          <img class="card-img-top" src="images/challenges.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Challenges</h5>
            <p class="card-text">Vous retrouverez tous les défis web pour vous entraîner à la détection des vulnérabilités les plus connues !</p>
            <a href="challenges" class="btn btn-dark">Accéder aux challenges</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

<% include partials/footer %>
