<% include partials/head %>
<%- include('partials/header', {connected: 'ok'}) %>

<body>
<br>
    <div class="container">
        <h2>Challenges</h2>
        <br>
        <table class="table table-borderless">
            <thead>
                <tr>
                    <th>Nom du challenge</th>
                    <th style="text-align:center;">Nombre de validations</th>
                    <th>Validé</th>
                    <th>Difficulté</th>
                </tr>
            </thead>
            <tbody>
                <%  for (var i = 0; i < data.length; i++) { %>
                <tr>
                    <td><a href="/challenges/<%= data[i].id %>"><%= data[i].nom %></a></td>
                    <td style="text-align:center;">
                        <% if (jsonNombreValidations[data[i].id] != null) { %>
                        <%= jsonNombreValidations[data[i].id]; %>
                        <% } else { %>
                            0
                        <%}%>
                    </td>
                    <td><% if (challengeValideArray.indexOf(data[i].id) > -1) { %>
                            <img class="checkIconsMenuChallenges" src="/images/green-check-circle.png" alt="" width="20px">
                        <%}
                        else {%>
                            <img class="checkIconsMenuChallenges" src="/images/red-cross-circle.png" alt="" width="20px">
                        <%}%>
                    </td>
                    <td>
                        <% switch (data[i].difficulte) {
                            case 0:%>
                            Facile
                        <% break;
                        case 1: %>
                            Moyen
                        <% break;
                        case 2: %>
                            Difficile
                        <% break;
                        default: %>
                            Erreur
                        <% } %>
                    </td>
                </tr>
                <% } %>
            </tbody>
        </table>
    </div>
</body>

<% include partials/footer %>