<% include partials/head %>
<% include partials/header %>

<body>
  <br><br>
  <div class="container">
    <div class="row">
      <%  for (var i = 0; i < data.length; i++) { %>
      <div class="col-sm-4 mb-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><%= data[i].nom %></h5>
            <p class="card-text">Description cours : <%= data[i].nom %></p>
            <a href="unites/<%= i+1 %>" class="btn btn-dark">Accéder</a>
          </div>
        </div>
      </div>
      <%}%>
    </div>
  </div>
</body>

<% include partials/footer %>
