<% include partials/head %>
<% include partials/header %>
<body>
    <div class="container">
        <br><br>
        <div class="row justify-content-center">
            <div class="form-group col-sm-6">
                <h4>Réinitialiser mon mot de passe</h4>
            </div>
        </div>
        <form method="post">
            <div class="row justify-content-center">
                <div class="form-group col-sm-6">
                    <label for="emailInput">Saisissez l'adresse email utilisé lors de l'inscription, un email vous sera envoyé :</label>
                    <input type="email" class="form-control" id="emailInput" name="emailInput" aria-describedby="emailHelp"
                            <% if (typeof email != "undefined") { %>
                           value="<%= email %>"
                            <% }
                            else { %>
                           placeholder="Email"
                            <% } %>>
                </div>
            </div>

            <!-- Alerte JS -->
            <div class="row justify-content-center" id="champManquant" style="display: none">
                <div class="col-sm-6">
                    <div class="alert alert-danger" role="alert">
                        Veuillez renseigner le champ email !
                    </div>
                </div>
            </div>

            <!-- Alerte serveur -->
            <% if (typeof erreur != "undefined") {%>
            <div class="row justify-content-center" id="erreurServeur">
                <div class="col-sm-6">
                    <div class="alert alert-danger" role="alert">
                        <%= erreur %>
                    </div>
                </div>
            </div>
            <% } %>

            <div class="row justify-content-center">
                <button class="btn btn-custom" id="reinitialisation">Réinitialiser</button>
            </div>
            <br>

            <div class="row justify-content-center">
                <div style="text-align: center">
                    <a href="connexion">Déjà un compte ?</a>
                </div>
            </div>
        </form>
    </div>
    <script src="/js/motDePasseOublie.js"></script>
</body>

<% include partials/footer %>