<% include partials/head %>
<%- include('partials/header', {path: 'unite', unite: '1'}) %>

<div class="container">
    <br>
    <br>
    <p><a href="/unites/1/partie/1">1. Sous-partie 1</a></p>
    <p><a href="/unites/1/partie/2">2. Sous-partie 2</a></p>
    <p><a href="#">3. Sous-partie 3</a></p>
    <p><a href="#">4. Sous-partie 4</a></p>
    <p><a href="#">5. Sous-partie 5</a></p>
    <p><a href="#">6. Sous-partie 6</a></p>
    <br>
</div>

<% include partials/footer %>