<% include partials/head %>
<%- include('partials/header', {path: 'cours', unite: '2', partie: '2'}) %>

<br>
<div class="container">
    <button class="btn">
        <span class="oi oi-chevron-left"></span>
        Cours précédent
    </button>
    <button class="btn float-right">
        Cours suivant
        <span class="oi oi-chevron-right space-left"></span>
    </button>
    <br><br>
    <p>Ceci est l'unité 2 sous partie 2</p>
    <br><br>
    <div class="row">
        <div class="col-sm-4">
            <button class="btn">
                <span class="oi oi-chevron-left"></span>
                Cours précédent
            </button>
        </div>
        <div class="col-sm-4 text-center">
            <button class="btn">
                <span class="oi oi-check"></span>
                J'ai lu ce cours
            </button>
        </div>
        <div class="col-sm-4">
            <button class="btn float-right">
                Cours suivant
                <span class="oi oi-chevron-right space-left"></span>
            </button>
        </div>
    </div>
</div>
<% include partials/footer %>