.table-borderless > tbody > tr > td,
.table-borderless > tbody > tr > th,
.table-borderless > tfoot > tr > td,
.table-borderless > tfoot > tr > th,
.table-borderless > thead > tr > td,
.table-borderless > thead > tr > th {
  border: none;
}

.space-left {
  left: 3px;
}

.checkIconsMenuUnites {
  margin-left: 5px;
  margin-bottom: 4px;
}

.checkIconsMenuChallenges {
  margin-left: 13px;
}
